@import "component/logo";
@import "component/search";
@import "component/toggle";
@import "component/menu_desktop";
@import "component/menu_mobile";
@import "component/support";

header {
  padding: 10px 0;

  .dev_order-3 {
    @media (max-width: 575px) {
      order: 3;
    }
  }

  .dev_order-3 {
    @media (max-width: 575px) {
      order: 2;
    }
  }
}
